<!doctype html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Come and play a board game! Boards are included, rules are not." />

    <title>Project Ginger</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    @RenderBody()
  </body>
</html>