<h1>Go</h1>

<style>
  .go-row {
    margin: 0;
    padding: 0;
  }

  .go-cell {
    border: 1px solid black;
    border-width: 1px 0 0 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
  }

  .go-cell:last-child {
    border-right: 1px solid black;
  }

  .go-row:last-child .go-cell {
    border-bottom: 1px solid black;
  }
</style>

<div class="go-board">
  @for (int j = 0; j < 19; j++)
  {
    <div class="go-row">@for (int i = 0; i < 19; i++) {<a href="#" class="go-cell" onclick="onCellClick(this)">&nbsp;</a>}</div>
  }
</div>

<script>
  function onCellClick(cell) {
    if (cell.innerHTML === 'B') {
      cell.innerHTML = 'W';
    }
    else if (cell.innerHTML == 'W') {
      cell.innerHTML = '&nbsp;'
    }
    else {
      cell.innerHTML = 'B';
    }

    saveBoard();
  }

  function saveBoard() {
    var board = serializeBoard();

    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/go/edit/@ViewBag.Id", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.send("contents=" + board);
  }

  function serializeBoard() {
    var result = '{version:1,cells:[';
    var rows = document.getElementsByClassName('go-row');

    for (var j = 0; j < rows.length; j++) {
      var row = rows[j];
      result += '[';

      for (var i = 0; i < row.childNodes.length; i++) {
        var cell = row.childNodes[i];

        switch (cell.innerHTML) {
          case 'B':
            result += '1';
            break;

          case 'W':
            result += '2';
            break;

          default:
            result += '0';
            break;
        }

        if (i < row.childNodes.length - 1) {
          result += ',';
        }
      }

      result += ']';

      if (j < rows.length - 1) {
        result += ',';
      }
    }

    result += ']}';
    return result;
  }
</script>